Makefile
Makefile.in
*.o
*.lo
*.la
*.pc
.*.swp
.*.swo
*~
.deps
.libs

INSTALL
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
depcomp
glib-objc-config.h
install-sh
libtool
ltmain.sh
missing
stamp-goc-h
stamp-h1
